# Other configs
Autodesk/*
coc/*
configstore/*
dotfiles/*
flutter/*
gatsby/*
helix/*
iterm2/*
karabiner/*
kitty/*
linearmouse/*
stripe/*
raycast/*
op/*
github-copilot/*
planetscale/*

# Stuff
.DS_Store
