[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[user]
	email = joakim@mellonn.com
	name = Joakim Rosenfeldt Pedersen
[pull]
	rebase = true
