# Other configs
Autodesk/*
alacritty/*
coc/*
configstore/*
dotfiles/*
flutter/*
gatsby/*
helix/*
iterm2/*
karabiner/*
kitty/*
linearmouse/*
stripe/*

# Stuff
.DS_Store

# AstroNvim stuff
nvim/.git/*
nvim/.github/*
nvim/lua/astronvim/*
nvim/lua/plugins/*
nvim/lua/lazy_snapshot.lua
nvim/.gitignore
nvim/.luacheckrc
nvim/.stylua.toml
nvim/styluaignore
nvim/typos.toml
nvim/LICENSE
nvim/config.ld
nvim/init.lua
