# Other configs
Autodesk/*
coc/*
configstore/*
dotfiles/*
flutter/*
gatsby/*
helix/*
iterm2/*
karabiner/*
kitty/*
linearmouse/*
stripe/*
raycast/*
op/*
lazygit/*
github-copilot/*
planetscale/*
gh/*
graphite/*
neofetch/*
htop/*
hcloud/*
posthog-cli/*
fish/*

# Stuff
.DS_Store
