layout {
    pane size=1 borderless=true {
        plugin location="https://github.com/h1romas4/zellij-datetime/releases/latest/download/zellij-datetime.wasm" {
            timezone1 "GMT/+2"
            default_timezone "UTC"
            date_format "%d/%m/%Y/ %A"
            background_color "#50fa7b"
            foreground_color "#282a36"
            pane_color "#282a36"
        }
    }
    pane size=1 borderless=true {
        plugin location="zellij:tab-bar"
    }
    pane
    pane size=2 borderless=true {
        plugin location="zellij:status-bar"
    }
}
