layout {
  default_tab_template {
    pane size=1 borderless=true {
      plugin location="tab-bar"
    }
    children
    pane size=1 borderless=true {
      plugin location="status-bar"
    }
  }
  new_tab_template cwd="~" {
    pane size=1 borderless=true {
      plugin location="tab-bar"
    }
    pane {
        children
    }
    pane size=1 borderless=true {
      plugin location="status-bar"
    }
  }
  tab name="config" cwd="~/.config" {
    pane
  }
  tab name="sandbox" cwd="~/sandbox" split_direction="vertical" {
    pane size="65%"
    pane
  }
  swap_floating_layout {
    floating_panes max_panes=1 {
      pane {
        x "15%"
        y "10%"
        width "70%"
        height "80%"
      }
    }
  }
}
